/MovieLens
/random_result.json
/pop_model.dat
/pop_result.txt
/user_based_model.dat
/user_based_result.json
/pop_result.json
/movielens_prepare_longan
/movielens_prepare_longan.o
/movielens_prepare.o
/item_based_model.dat
/item_based_result.json
/svd_model.dat
/svd_result.json
/cf_auto_encoder_model.dat
/cf_auto_encoder_result.json
